
.tracking-app{
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 480px;
    width: 400px;
    border: 1px solid black;
    border:none;   
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 8px 18px #888888;
}




h1{
  font-family: 'Poppins', italic;
  font-size: 40px;
  font-weight: 600;
  color: transparent;
  background-image: linear-gradient(to right,  #ee4b2b,#7453ce );
  -webkit-background-clip: text;
  align-items: center;
  justify-content: center;
  display: flex;
}


.heading{
    margin-bottom: 30px;
}


.submit-btn button{
    margin-top: 30px;
    background-color: rgb(19, 137, 216);
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    font-size: 18px;
}
/* borderRadius': '30px','margin':'20px 0','justifyContent':'center' */

.form input {
  height: 30px;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 20px 0;
  border-radius: 50px;
}

.form-input {
  width: 250px !important;
  border-radius: 30px !important;
  margin-bottom: 40px !important;
  
}

.errors-mess{
  padding: 0 !important;
  margin: 0 !important;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media (max-width: 600px) {
  .tracking-app{
    justify-content: center;
    margin: 30px auto;
   width: 300px;
   height: 400px;
  }
}